<main class="modal">
    <form action="" class="login-form">
        <div class="login-form__wrapper">
            {{> Title label="Вход" }}
            {{> Input type="text" label="Логин" name="login" }}
            {{> Input type="password" label="Пароль" name="password" }}
            <div class="login-form__buttons">
                <button class="button button__primary">
                    Авторизоваться
                </button>
                <button class="button button__secondary">
                    Нет аккаунта?
                </button>
            </div>
        </div>
    </form>
</main>

