<main class="chat">
    <div class="chat__wrapper">
        <div class="chat__leftBlock">
            <div class="chat__profile">
                <a href="#" class="chat__profile_block">
                    <div class="chat__profile_title">Профиль</div>
                    <svg 
                        class="chat__profile_svg"
                        width="6" 
                        height="10" 
                        viewBox="0 0 6 10" 
                        fill="none" 
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 9L5 5L1 1" stroke="#999999"/>
                    </svg>
                </a>
            </div>
            <form action="#" method="get" class="chat__profileForm">
                <svg 
                    width="20" 
                    height="20" 
                    viewBox="0 0 20 20" 
                    fill="none" 
                    xmlns="http://www.w3.org/2000/svg">
                    <path 
                        fill-rule="evenodd" 
                        clip-rule="evenodd" 
                        d="M11.5924 11.4138C10.1605 12.8457 7.83886 12.8457 6.40694 11.4138C4.97502 9.9819 4.97502 7.6603 6.40694 6.22837C7.83886 4.79645 10.1605 4.79645 11.5924 6.22837C13.0243 7.6603 13.0243 9.9819 11.5924 11.4138ZM12.0328 12.7968C10.0725 14.2962 7.25696 14.1495 5.46413 12.3566C3.51151 10.404 3.51151 7.23819 5.46413 5.28556C7.41675 3.33294 10.5826 3.33294 12.5352 5.28556C14.3279 7.07831 14.4747 9.89373 12.9755 11.8539L16.5423 15.4206L15.5994 16.3635L12.0328 12.7968Z" 
                        fill="#999999"
                    />
                </svg>
                <input name="#" placeholder="Поиск" type="search" class="chat__profileSearch">
            </form>
            <ul class="chat__profileList">
                <li class="chat__profileItem">
                    <a href="#" class="chat__profileLink">
                        <div class="chat__profileLink_left">
                            <div class="chat__profileLink_img"></div>
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_name">
                                    Андрей
                                </div>
                                <div class="chat__profileLink_message">
                                    Изображение
                                </div>
                            </div>
                        </div>
                        <div class="chat__profileLink_right">
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_time">10:49</div>
                                <div class="chat__profileLink_number">2</div>
                            </div>
                        </div>

                    </a>
                </li>

                <li class="chat__profileItem">
                    <a href="#" class="chat__profileLink">
                        <div class="chat__profileLink_left">
                            <div class="chat__profileLink_img"></div>
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_name">
                                    Киноклуб
                                </div>
                                <div class="chat__profileLink_message">
                                    <span>Вы:</span> стикер
                                </div>
                            </div>
                        </div>
                        <div class="chat__profileLink_right">
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_time">12:00</div>
                                <div class="chat__profileLink_number chat__profileLink_number__none"></div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="chat__profileItem">
                    <a href="#" class="chat__profileLink">
                        <div class="chat__profileLink_left">
                            <div class="chat__profileLink_img"></div>
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_name">
                                    Илья
                                </div>
                                <div class="chat__profileLink_message">
                                    Друзья, у меня для вас особенный выпуск новостей!...
                                </div>
                            </div>
                        </div>
                        <div class="chat__profileLink_right">
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_time">15:12</div>
                                <div class="chat__profileLink_number">4</div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="chat__profileItem">
                    <a href="#" class="chat__profileLink chat__profileLink_active">
                        <div class="chat__profileLink_left">
                            <div class="chat__profileLink_img"></div>
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_name">
                                    Вадим
                                </div>
                                <div class="chat__profileLink_message">
                                    <span>Вы:</span> Круто!
                                </div>
                            </div>
                        </div>
                        <div class="chat__profileLink_right">
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_time">Пт</div>
                                <div class="chat__profileLink_number chat__profileLink_number__none"></div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="chat__profileItem">
                    <a href="#" class="chat__profileLink">
                        <div class="chat__profileLink_left">
                            <div class="chat__profileLink_img"></div>
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_name">
                                    Киноклуб
                                </div>
                                <div class="chat__profileLink_message">
                                    <span>Вы:</span> стикер
                                </div>
                            </div>
                        </div>
                        <div class="chat__profileLink_right">
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_time">12:00</div>
                                <div class="chat__profileLink_number chat__profileLink_number__none"></div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="chat__profileItem">
                    <a href="#" class="chat__profileLink">
                        <div class="chat__profileLink_left">
                            <div class="chat__profileLink_img"></div>
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_name">
                                    тет-а-теты
                                </div>
                                <div class="chat__profileLink_message">
                                    И Human Interface Guidelines и Material Design рекомендуют...
                                </div>
                            </div>
                        </div>
                        <div class="chat__profileLink_right">
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_time">Ср</div>
                                <div class="chat__profileLink_number chat__profileLink_number__none"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="chat__profileItem">
                    <a href="#" class="chat__profileLink">
                        <div class="chat__profileLink_left">
                            <div class="chat__profileLink_img"></div>
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_name">
                                    1, 2, 3
                                </div>
                                <div class="chat__profileLink_message">
                                    Миллионы россиян ежедневно проводят десятки часов свое...
                                </div>
                            </div>
                        </div>
                        <div class="chat__profileLink_right">
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_time">Пн</div>
                                <div class="chat__profileLink_number chat__profileLink_number__none"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="chat__profileItem">
                    <a href="#" class="chat__profileLink">
                        <div class="chat__profileLink_left">
                            <div class="chat__profileLink_img"></div>
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_name">
                                    Design Destroyer
                                </div>
                                <div class="chat__profileLink_message">
                                    В 2008 году художник Jon Rafman  начал собирать...
                                </div>
                            </div>
                        </div>
                        <div class="chat__profileLink_right">
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_time">Пн</div>
                                <div class="chat__profileLink_number chat__profileLink_number__none"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="chat__profileItem">
                    <a href="#" class="chat__profileLink">
                        <div class="chat__profileLink_left">
                            <div class="chat__profileLink_img"></div>
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_name">
                                    Day.
                                </div>
                                <div class="chat__profileLink_message">
                                    Так увлёкся работой по курсу, что совсем забыл его анонсир...
                                </div>
                            </div>
                        </div>
                        <div class="chat__profileLink_right">
                            <div class="chat__profileLink_wrapper chat__profileLink_wrapper__width">
                                <div class="chat__profileLink_time">1 Мая 2020</div>
                                <div class="chat__profileLink_number chat__profileLink_number__none"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="chat__profileItem">
                    <a href="#" class="chat__profileLink">
                        <div class="chat__profileLink_img"></div>
                        <div class="chat__profileLink_flex">
                            <div class="chat__profileLink_top">
                                <div class="chat__profileLink_name">
                                    Day.
                                </div>
                                <div class="chat__profileLink_time">1 Мая 2020</div>
                                
                            </div>
                            <div class="chat__profileLink_bottom">
                                <div class="chat__profileLink_message">
                                    Так увлёкся работой по курсу, что совсем забыл его анонсир...
                                </div>
                                <div class="chat__profileLink_number chat__profileLink_number__">2</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="chat__profileItem">
                    <a href="#" class="chat__profileLink">
                        <div class="chat__profileLink_left">
                            <div class="chat__profileLink_img"></div>
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_name">
                                    Киноклуб
                                </div>
                                <div class="chat__profileLink_message">
                                    <span>Вы:</span> стикер
                                </div>
                            </div>
                        </div>
                        <div class="chat__profileLink_right">
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_time">12:00</div>
                                <div class="chat__profileLink_number chat__profileLink_number__none"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="chat__profileItem">
                    <a href="#" class="chat__profileLink">
                        <div class="chat__profileLink_left">
                            <div class="chat__profileLink_img"></div>
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_name">
                                    Киноклуб
                                </div>
                                <div class="chat__profileLink_message">
                                    <span>Вы:</span> стикер
                                </div>
                            </div>
                        </div>
                        <div class="chat__profileLink_right">
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_time">12:00</div>
                                <div class="chat__profileLink_number chat__profileLink_number__none"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="chat__profileItem">
                    <a href="#" class="chat__profileLink">
                        <div class="chat__profileLink_left">
                            <div class="chat__profileLink_img"></div>
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_name">
                                    Киноклуб
                                </div>
                                <div class="chat__profileLink_message">
                                    <span>Вы:</span> стикер
                                </div>
                            </div>
                        </div>
                        <div class="chat__profileLink_right">
                            <div class="chat__profileLink_wrapper">
                                <div class="chat__profileLink_time">12:00</div>
                                <div class="chat__profileLink_number chat__profileLink_number__none"></div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="chat__rightBlock">
            <div class="chat__rightBlock__position hide">
                <p class="chat__rightBlock__text">
                    Выберите чат чтобы отправить сообщение
                </p>
            </div>
            <div class="chat__infoTop">
                <div class="chat__person">
                    <div class="chat__person__avatar"></div>
                    <div class="chat__person__name">Вадим</div>
                </div>
                <button class="chat__person__btn chat__person__btn_active">
                    <div class="chat__person__circles">
                        <div class="chat__person__circle"></div>
                        <div class="chat__person__circle"></div>
                        <div class="chat__person__circle"></div>
                    </div>
                </button>
            </div>
            <div class="chat__personGroup">
                <div class="chat__personDate">19 июня</div>
                <div class="chat__personMessage">
                    Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
                    <br><br>
                    Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
                    <span class="chat__personMessage__time">11:56</span>
                </div>
                <div class="chat__personMessage__img">
                    <img src="camera.jpg" alt="img">
                    <span class="chat__personMessage__time">11:56</span>
                </div>
            </div>
            <div class="chat__userContent">
                <div class="chat__userContent__wrapper">
                    <div class="chat__userContent__message">Круто!</div>
                    <div class="chat__userContent__sendingStatus">
                        <svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line y1="-0.5" x2="3.765" y2="-0.5" transform="matrix(0.705933 0.708278 -0.705933 0.708278 0.700195 2.33313)" stroke="#3369F3"/>
                            <line y1="-0.5" x2="5.6475" y2="-0.5" transform="matrix(0.705933 -0.708278 0.705933 0.708278 3.35828 5)" stroke="#3369F3"/>
                            <line y1="-0.5" x2="5.6475" y2="-0.5" transform="matrix(0.705933 -0.708278 0.705933 0.708278 6.01587 5)" stroke="#3369F3"/>
                        </svg>
                    </div>
                    <div class="chat__userContent__time">12:00</div>
                </div>
            </div>
            <div class="chat__infoBottom">
                <form action="#" method="post" class="chat__sendingForm">
                    <div class="chat__sendingForm__file">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.18662 13.5L14.7628 5.92389L15.7056 6.8667L8.12943 14.4428L7.18662 13.5Z" fill="#999999"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70067 16.0141L17.2768 8.43793L18.2196 9.38074L10.6435 16.9569L9.70067 16.0141Z" fill="#999999"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0433 21.3567L22.6195 13.7806L23.5623 14.7234L15.9861 22.2995L15.0433 21.3567Z" fill="#999999"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5574 23.8708L25.1335 16.2946L26.0763 17.2374L18.5002 24.8136L17.5574 23.8708Z" fill="#999999"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5574 23.8709C14.9423 26.486 10.7118 26.4954 8.10831 23.8919C5.50482 21.2884 5.51424 17.0579 8.12936 14.4428L7.18655 13.5C4.0484 16.6381 4.0371 21.7148 7.16129 24.839C10.2855 27.9632 15.3621 27.9518 18.5003 24.8137L17.5574 23.8709Z" fill="#999999"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.6195 13.7806L23.5623 14.7234C26.003 12.2826 26.0118 8.3341 23.5819 5.90417C21.152 3.47424 17.2035 3.48303 14.7627 5.92381L15.7055 6.86662C17.6233 4.94887 20.7257 4.94196 22.6349 6.85119C24.5441 8.76042 24.5372 11.8628 22.6195 13.7806Z" fill="#999999"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70092 16.0144C7.95751 17.7578 7.95123 20.5782 9.68689 22.3138C11.4226 24.0495 14.2429 24.0432 15.9863 22.2998L15.0435 21.357C13.8231 22.5774 11.8489 22.5818 10.6339 21.3668C9.41894 20.1518 9.42334 18.1776 10.6437 16.9572L9.70092 16.0144Z" fill="#999999"/>
                        </svg>
                    </div>
                    <div class="chat__sendingForm__message" name="message">
                        <span class="chat__sendingForm__placeholder">
                            Сообщение
                        </span>
                    </div>
                    <button type="submit" class="chat__sendingForm__btn">
                        <svg 
                            class="chat__sendingForm__svg"
                            xmlns="http://www.w3.org/2000/svg" 
                            viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>