<main class="navigate">
    <nav class="navigate__nav">
        <ul class="list">
            <li class="list__item">
                <a href="#" class="list__link" page="login">Вход</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link" page="registration">Регистрация</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link" page="profile">Профиль</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link" page="404">Ошибка 404</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link" page="500">Ошибка 500</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link" page="chatList">Список чатов</a>
            </li>
        </ul>
    </nav>
</main>

