<main class="error">
    <div class="error__content">
        <div class="error__title">
            404
        </div>
        <div class="error__subtitle">
            Не туда попали
        </div>
        <a href="#" class="error__link">
            Назад к чатам
        </a>
    </div>
</main>